In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
import joblib  # 用于保存和加载模型

In [3]:
# 1. 加载真实数据（替换为你的数据文件路径）
try:
    # 支持CSV或Excel格式
    # data = pd.read_csv("drone_flight_data.csv")  # 方法1：从CSV加载
    data = pd.read_excel("E:\张岐奕1\EPI\github\Python\\random forest\城市类型（1）.xlsx")  # 方法2：从Excel加载
except FileNotFoundError:
    print("错误：未找到数据文件！请检查文件路径")
    exit()

# 检查数据是否包含必需的列

<>:5: SyntaxWarning: invalid escape sequence '\E'
<>:5: SyntaxWarning: invalid escape sequence '\E'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_33688\479962333.py:5: SyntaxWarning: invalid escape sequence '\E'
  data = pd.read_excel("E:\张岐奕1\EPI\github\Python\\random forest\城市类型（1）.xlsx")  # 方法2：从Excel加载

In [4]:
data

    气温/海拔0  Unnamed: 1    500   1000   1500   2000   2500   3000
0      -15         NaN  34.04  31.74  29.44  27.14  24.84  22.54
1      -10         NaN  38.64  36.34  34.04  31.74  29.44  27.14
2       -5         NaN  42.32  40.02  37.72  35.42  33.12  30.82
3        0         NaN  43.70  41.40  39.10  36.80  34.50  32.20
4        5         NaN  44.20  42.40  40.10  37.80  35.50  33.30
5       10         NaN  45.00  43.70  41.40  39.10  36.80  34.50
6       15         NaN  46.00  44.70  42.40  40.10  37.80  35.50
7       20         NaN  46.00  44.70  42.40  40.10  37.80  35.50
8       25         NaN  46.00  44.70  42.40  40.10  37.80  35.50
9       30         NaN  46.00  44.70  42.40  40.10  37.80  35.50
10      35         NaN  43.70  41.52  39.33  37.15  34.96  32.78
11      40         NaN  41.40  39.33  37.26  35.19  33.12  31.05